@page "/checkout"

<h3>Checkout</h3>

<PageTitle>Checkout</PageTitle>


<div class="checkout-container">
	<div class="content-box-checkout">
	</div>
	<div class="content-box-checkout">
	</div>
</div> 


@code {
	private List<ShopItem> productsInCart = new();

	protected override void OnInitialized()
	{
	}
}

