@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="background-box">
	<h3>My plants</h3>
	<div class="plant-container">
		<PlantWidget />
		<PlantWidget />
		<PlantWidget />
	</div>
</div>
