body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e6e6e6;
}

.container {
    padding: 20px;
}

.content-box {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.form-control {
    margin-bottom: 10px;
}

.unit {
    font-weight: bold;
    font-size: 1.2em;
}
