<nav class="navbar">
    <div class="nav-left">
        <img src="img/flower-pot-and-plant-logo-growth-logo-free-vector.jpg" alt="Logo" class="logo">
        <span class="site-name">PotPal</span>
        <div class="nav-links">
            <a href="/login">Login/Signup</a>
            <a href="/shop">Shop</a>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shop">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shop
            </NavLink>
        </div>
    </nav>
</div>
