<nav class="navbar">
    <div class="nav-left">
        <img src="img/flower-pot-and-plant-logo-growth-logo-free-vector.jpg" alt="Logo" class="logo">
        <span class="site-name">PotPal</span>
        <div class="nav-links">
            <a href="/login">Login/Signup</a>
            <a href="/shop">Shop</a>
        </div>
    </div>
</nav>
